Install-Package Microsoft.EntityFrameworkCore -Version 8.0.10
Install-Package Microsoft.EntityFrameworkCore.SqlServer -Version 8.0.10
Install-Package Microsoft.EntityFrameworkCore.Tools -Version 8.0.10
